<div class="grid">
  <div class="cell cell--6">
    <h2>Артемов Илья</h2>
    <div>15 декабря 1999</div>
    <br>
    <div>
      Способы связи:
    </div>
    <div>
      <a href="https://t.me/mist_leet">
        <i class="fa-brands fa-telegram"></i> +7 (931) 330-89-82 (@mist_leet)
      </a>
    </div>
    <div>
      <a href="tel:89313308982">
        <i class="fa-solid fa-phone"></i> +7 (931) 330-89-82
      </a>
    </div>
    <div>
      <a href="mailto:artemov.ilya.r@gmail.com">
        <i class="fa-solid fa-envelope"></i> artemov.ilya.r@gmail.com
      </a>
    </div>
    <br>
    Git-репозитории
    <div>
      <a href="https://github.com/mist-leet/">
        <i class="fa-brands fa-github"></i> mist-leet
      </a>
    </div>
    <div>
      <a href="https://gitlab.com/artemov.ilya.r">
        <i class="fa-brands fa-gitlab"></i> artemov.ilya.r (более актуальный)
      </a>
    </div>
  </div>
  <div class="cell cell--4">
    <img src="assets/images/me.jpeg" height="340px">
  </div>
</div>


<br>

### Опыт работы


<div class="-container">
  <div class="grid">
    <div class="cell cell--4">Август 2018 — по настоящее время</div>
    <div class="cell cell--4"><b>Частный репетитор</b></div>
  </div>
  <div class="grid">
    <div class="cell cell--4"></div>
    <div class="cell cell--4">Подготовка учеников к ЕГЭ, ОГЭ, ДВИ по математике
      и информатике
      Обучение детей от 11 лет программированию
      Выполнение домашних, лабораторных и курсовых работ по программированию
    </div>
  </div>
</div>

<br>

<div class="-container">
  <div class="grid">
    <div class="cell cell--4">Сентябрь 2020 — февраль 2022</div>
    <div class="cell cell--4"><b>Full-stack разработчик</b></div>
  </div>
  <div class="grid">
    <div class="cell cell--4">1 год 6 месяцев</div>
    <div class="cell cell--4">Санкт-Петербург, <a href="https://webim.ru/">webim.ru</a>
      <br>Информационные технологии, системная интеграция, интернет
      Системная интеграция, автоматизации технологических и бизнес-процессов
      предприятия, ИТ-консалтинг
    </div>
  </div>
</div>
